<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>homebrew.mxcl.neo4j-v2</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/opt/neo4j/bin/neo4j</string>
    <string>console</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>NEO4J_CONF</key>
    <string>/opt/homebrew/etc/neo4j-v2</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/opt/homebrew/var/neo4j-v2</string>
  <key>StandardOutPath</key>
  <string>/opt/homebrew/var/neo4j-v2/logs/launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/opt/homebrew/var/neo4j-v2/logs/launchd-error.log</string>
</dict>
</plist>
